
{{!-- Without Partials
<div>
<ul>
    {{#each beers}}
    <li>{{#if this.image_url}}</li>
    <img src="{{ this.image_url}}" alt="randomBeerimage"/>
    {{/if}}
    <h1>{{this.name}}</h1>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    <p>{{this.food_pairing}}</p>
    <p>{{this.brewers_tips}}</p>
  {{/each}}
</ul>
</div> --}}

<div class="randomBeerContainer">
{{#each beers}}
<div class="randomBeerCard">
{{>beerpartial this}}</li>
{{/each}}
<p>{{this.food_pairing}}</p>
<p>{{this.brewers_tips}}</p>
</div>
</div>
